<html>
    <body>
        <h1>Sandwish Home</h1>

        <h2>Ingredients</h2>

    <ul>
        {% for ingredient in ingredients %}
        <li>
            <a href="/sandwich/ingredients/{{ingredient}}">{{ingredient}}</a>
        </li>
        {% endfor %}
    </ul>

            <p>Click the button if you are hungry!</p>
            
            <form action="{% url 'sandwich_generator' %}">
                <input type="submit" value="Make a sandwich!" />
            </form>
    </body>
</html>